.contenedor_boton {
    text-align: center;
}

.botonHome {
    --background: var(--ion-color-mi-color);
    color: #90dfd1;
}


.text {
    background-color: var(--ion-color-mi-color);
    color: #90dfd1;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 15px;
}