<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar" animated (ionChange)="searchClientes($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-list *ngIf="permission">
      <ion-list-header>
        Recent Conversations
      </ion-list-header>

      <ion-item *ngFor="let user of searchUsuario">
        <ion-avatar slot="start">
          <img src="{{user.image}}">
        </ion-avatar>
        <ion-avatar slot="end">
          <ion-icon name="search-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2 class="list__nom">{{user.name}}</h2>
          <h3>{{user.state}}</h3>
          <p>{{user.description}}</p>
        </ion-label>
      </ion-item>

    </ion-list>
    <ion-label *ngIf="!permission">No tienes permisos para ver los clientes!!</ion-label>
    <ion-button (click)="irhome()" class="botonHome">Go to home</ion-button>
  </ion-content>
</ion-app>